.App {
  background-color: #18171f;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 10vh;
}

.Divider {
  border: none;
  border-top: 1px solid #8c8a8a;
  color: #737171;
  background-color: #7f7d7d;
  height: 1px;
  width: 95%;
  align-self: center;
}

/* NAVBAR */
.NavigateLayout {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-right: 5;
  padding-top: 1%;
}

.LoginLayout {
  display: flex;
  flex-grow: 1;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 5%;
}

.BannerLayout {
  display: flex;
  flex-grow: 4;
  align-items: center;
  justify-content: center;
  padding-right: 5;
}




/* CARDS */
.MainCardContainer {
  display: flex;
  width: 90%;
  min-height: 40vh;
  max-height: 80vh;
  justify-content: center;
  background-color: #2d3036;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  overflow-y: hidden;
  overflow-x: hidden;
} 

.GroupCardMainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.GroupCardLayout {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  height: 30%;
  background-color: #2d3036;
  margin: 0.5%;
}

.BigCardItemLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  margin-left: 0.5%;
  height: 100%;
}

.BigCardItemCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  padding-right: 5;
  padding-top: 5.5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.BigCardItemRight {
  display: flex;
  flex-direction: column;
  padding-right: 5;
  height: 100%;
  max-width: 30cqw; 
  margin-right: 2%;
  width: 50%;
  justify-content: flex-start;
}

.HeaderOfList {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 25%;
}

.StyledCardButton {
  display: flex;
  background-color: gray;
  height: fit-content;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10px;
  align-self: center;
  text-align: center;
  align-items: center;
  padding: 1%;
  color:#fcfcfc;
}

.PlainCardButton {
  display: flex;
  height: 5vh;
  font-size: larger;
  font-weight: 700;
  align-self: center;
  text-align: center;
  align-items: center;
  padding: 2%;
  color:#fcfcfc;
}

.CategoriesCard {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
}

.Line {
  width: 5%;
  height: 8%;
}

.PromotionalSVG {
  display: flex;
  width: 30cqw;
  height: 60cqh;
  margin-bottom: 2%;
}

.ListBaseLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  background-color: #18171f;
  flex-direction: column;
  border-radius: 12px;
  justify-content: "space-evenly";
}

.ListContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1005;
  height: 55vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: aqua;
}

.TabSelectorLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  background-color: #18171f;
  border-radius: 12px;
  justify-content: space-evenly;
  height: fit-content;
}

.EnumeratedHeader {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.Arrow {
  width: 5%;
  height: 8%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.Container {
  background-color: #18171f;
  display: flex;
  flex-direction: row;
  min-width: 10vw;
  height: 50%;
  padding-left: 2%;
  padding-right: 2%;
  align-content: flex-start;
  align-items: flex-start;
}

.StyledButton {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 15px;
  border: 2px solid gray;
  min-width: 10vw;
  height: 15%;
  justify-content: center;
  padding: 2%;
  color:#fcfcfc;
}

.PlainButton {
  display: flex;
  max-width: 10vw;
  height: 5vh;
  font-size: small;
  font-weight: 700;
  text-align: center;
  padding: 2%;
  color:#fcfcfc;
}

.NavBarSVG {
  display: flex;
  max-width: 10vw;
  height: 5vh;
  font-size: small;
  font-weight: 700;
  text-align: center;
  padding: 2%;
  color:#fcfcfc;
}



.Text {
  display: flex;
  font-size: 1.3cqw;
}


.ListItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 55vh;
}

.SelectedTabOnSearchCard {
  display: flex ;
  height: 80%;
  justify-content: center;
  align-self: center;
  margin: 2%;
  padding: 1%;
  font-size: 3vh;
  font-weight: 700;
  background-color: #8c8a8a;
  border-radius: 12px;
}

.list-item {
  height: 50px;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  background-color: #fcfcfc;
  
}

.badge {
  border-radius: 12px;
  background-color: #8a8989;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

.circular {
  border-radius: 50%;
  padding: 5%;
  margin-right: 20%;
  background-image: url('https://i.ibb.co/wY6sSz0/avatar-Sample.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plus-btn {
  background-color: white;
  border: 1px solid #8a8989;
  border-radius: 50%;
  color: #8a8989;
  padding: 5px;
  cursor: pointer;
}
