.App {
  background-color: #18171f;
  min-height: 100vh;
  min-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 10vh
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.SessionBackground{
  background: linear-gradient(250deg, #18171f, #483d8b);
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
  min-height: 100vh;
  min-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MainCardContainerSession {
  display: flex;
  width: 70%;
  min-height: 40vh;
  max-height: 80vh;
  justify-content: center;
  background-color: #2d3036;
  padding-top: 2%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.DataLayout {
  display: flex;
  flex-direction: row;
  width: 25vw;
  justify-content: space-evenly;
  align-items: baseline;
}

.input {
  width: 50%;
  border: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border-radius: 0;
  color: #aaacb1;
  border-radius: 12px;
}

.CardSessionLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  margin-bottom: 5%;
  background-color: #18171f;
  border-radius: 12px;
  overflow: hidden;
  padding: 10%;
  color: #fcfcfc
}

.Divider {
  border: none;
  border-top: 1px solid #8c8a8a;
  color: #737171;
  background-color: #7f7d7d;
  height: 1px;
  width: 95%;
  align-self: center;
  align-self: center;
}

/* NAVBAR */
.NavigateLayout {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-right: 5;
  padding-top: 1%;
}

.LoginLayout {
  display: flex;
  flex-grow: 1;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 5%;
}

.BannerLayout {
  display: flex;
  flex-grow: 4;
  align-items: center;
  justify-content: center;
  padding-right: 5;
}




/* CARDS */
.MainCardContainer {
  display: flex;
  width: 85%;
  min-height: 40vh;
  max-height: 80vh;
  justify-content: center;
  background-color: #2d3036;
  margin-bottom: 5%;
  overflow-y: hidden;
  overflow-x: hidden;
} 

.GroupCardMainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.GroupCardLayout {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  height: 30%;
  margin: 1%;
  background-color: #2d3036;
}

.BigCardItemLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
  margin-left: 0.5%;
  height: 100%;
}

.BigCardItemCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin-right: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: coral;
}

.BigCardItemRight {
  display: flex;
  flex-direction: column;
  padding-right: 5;
  height: 100%;
  max-width: 30cqw; 
  margin-right: 2%;
  padding-top: 2%;
  width: 50%;
  justify-content: flex-start;
}

.HeaderOfList {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 25%;
}

.StyledCardButton {
  display: flex;
  background-color: gray;
  height: fit-content;
  border-radius: 15px;
  font-weight: 700;
  font-size: smaller;
  align-self: center;
  text-align: center;
  align-items: center;
  padding: 1%;
  color:#fcfcfc;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.PlainCardButton {
  display: flex;
  height: 5vh;
  font-size: larger;
  font-weight: 700;
  align-self: center;
  text-align: center;
  align-items: center;
  padding: 2%;
  color:#fcfcfc;
}

.CategoriesCard {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
}

.CategoriesCard:hover{
  background-image: url('https://i.ibb.co/s1K1jNL/fortnite-Promo1.png');
  background-size: cover;
  transition: background-image 0.5s;
  opacity: 0.5;
  border-radius: 8px;
  background-color: #483d8b;
}

.Line {
  width: 5%;
  height: 8%;
}

.PromotionalSVG {
  display: flex;
  width: 30cqw;
  height: 60cqh;
  margin-bottom: 2%;
}

.ListBaseLayout {
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin-bottom: 5%;
  background-color: #18171f;
  border-radius: 12px;
  overflow: hidden;
}

.ListItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  width: 20vw;
  height: 30vh;
}

.ButtonBelowList {
  display: flex;
  width: 80%;
  height: 15%;
  margin-left: 10%; 
  margin-top: 1%;
  margin-bottom: 0.5%;
  justify-content: center;
  padding-top: 2vh;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}


.TabSelectorLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  background-color: #18171f;
  border-radius: 12px;
  justify-content: space-evenly;
  height: fit-content;
}

.EnumeratedHeader {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.Arrow {
  width: 5%;
  height: 8%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.Container {
  background-color: #18171f;
  display: flex;
  flex-direction: row;
  min-width: 10vw;
  height: 50%;
  padding-left: 2%;
  padding-right: 2%;
  align-content: flex-start;
  align-items: flex-start;
}

.StyledButton {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 15px;
  border: 2px solid gray;
  min-width: 10vw;
  height: 15%;
  justify-content: center;
  padding: 2%;
  color:#fcfcfc;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}


.NavBarStyledButton {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 15px;
  border: 2px solid gray;
  min-width: 10vw;
  height: 15%;
  justify-content: center;
  padding: 2%;
  color:#fcfcfc;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.PlainButton {
  display: flex;
  max-width: 10vw;
  height: 5vh;
  font-size: small;
  font-weight: 700;
  text-align: center;
  padding: 2%;
  color:#fcfcfc;
}

.NavBarPlainButton {
  display: flex;
  max-width: 10vw;
  height: 5vh;
  font-size: small;
  font-weight: 700;
  text-align: center;
  padding: 2%;
  color:#fcfcfc;
}

.NavBarSVG {
  display: flex;
  max-width: 10vw;
  height: 5vh;
  font-size: small;
  font-weight: 700;
  text-align: center;
  padding: 2%;
  color:#fcfcfc;
}


.FilterSVG {
  display: flex;
  width: 2vw;
  height: 3vh;
  color:#fcfcfc;
  padding-top: 1%;
}



.Text {
  display: flex;
  font-size: 1.3cqw;
}

.SelectedTabOnSearchCard {
  display: flex ;
  height: 80%;
  justify-content: center;
  align-self: center;
  margin: 2%;
  padding: 1%;
  font-size: 3vh;
  font-weight: 700;
  background-color: #8c8a8a;
  border-radius: 12px;
}

.list-item {
  height: 5vh;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 10px;
  
}

.badge {
  border-radius: 50%;
  background-color: #0b0b0b;
  color: white;
  padding: 5px;
  margin-right: 10px;
  justify-content: center;
  font-size: x-small;
}

.circular {
  border-radius: 50%;
  padding: 5%;
  margin-right: 20%;
  background-image: url('https://i.ibb.co/wY6sSz0/avatar-Sample.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plus-btn {
  background-color: #8a8989;
  border-radius: 5px;
  color: #fff8f8;
  padding: 2px;
  cursor: pointer;
}

.Timer {
  display: flex;
  background-color: #fcfcfc;
  border-radius: 18px;
  color: coral;
  justify-content: center;
  width: 30%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  position: relative;
}

.UserBadge {
  position: absolute;
  top: -1ch;
  left: -1cqw;
  background-color: #ccc6c69e;
  display: flex;
  max-width: 3vw;
  max-height: 2.5vh;
  padding: 5%;
  border-radius: 50%;
  margin-right: 20%;
   
}


@media screen and (max-width: 768px) {
  .App {
    padding-top: 0%;
    justify-content: flex-start;
  }

  .PromotionalSVG {
    display: none;
  }

  .MainCardContainerSession {
    min-width: 90%;
    justify-content: flex-start;
    padding: 2%;
  }

  .CardSessionLayout{
    margin-left: 11%;
    min-width: 70cqw;
    padding-left: 20px;
  }

  .MainCardContainer {
    width: 95%;
    max-height: 60vh;
  } 

  .BigCardItemLeft {
    display: none;
  }
  
  .BigCardItemCenter {
    max-width: 50vw;
  }

  .BigCardItemRight {
    display: flex;
    flex-direction: column;
    height: 50vh;
    min-width: 50vw; 
  }

  .PlainCardButton{
    font-size: smaller;
  }

  .DataLayout{
    width: 100%;
  }

  .HeaderOfList {
    width: 45cqw;
  }
  
  .ListItem {
    width: 45cqw;
    height: 65%;
  }

  .Text {
    font-size: 3cqw;
  }

  .SelectedTabOnSearchCard {
    height: 60%;
  }


  .Divider{
    width: 95%;
  }

  .NavBarPlainButton {
    align-self: center;
    justify-content: space-evenly;
    width: 100vw;
    height: fit-content;
    font-size: smaller;
  }

  .NavBarStyledButton {
    width: 30vw;
    height: 5%;
  }

  .LoginLayout {
    align-self: center;
  }

  .NavigateLayout {
    align-self: center;
  }

  .Timer {
    display: flex;
    background-color: #fcfcfc;
    border-radius: 18px;
    color: coral;
    justify-content: center;
    width: 40%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: relative;
  }

  .FilterSVG {
    width: 6vw;
    height: 2vh;
  }

  .NavBarSVG {
    display: flex;
    width: 10vw;
    height: 50px;
    color:#fcfcfc;
  }
}