body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --sessionGradient: linear-gradient(250deg, #18171f, #483d8b);
  --background: #dcdfe4;
  --text-primary: #000000;
  --bigCardCenter: #7b00ff;
  --cardContainer: #ffffff;
  --divider: #1c1c1c;
  --btnBelowList: #000000;
  --btnBelowListText: #fafafa;
}

[data-theme='dark'] {
  --sessionGradient: linear-gradient(250deg, #18171f, #483d8b);
  --background: #18171f;
  --text-primary: #fcfcfc;
  --bigCardCenter: #ff7f50;
  --cardContainer: #2d3036;
  --divider: #7f7d7d;
  --btnBelowList: #fcfcfc;
  --btnBelowListText: #000000;
}

