@media (max-widht:1200px) {
    .App {
      background-color: #18171f;
      min-height: 100vh;
      min-width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      padding-top: 0.1vh;
    }
  
    .Text {
      font-size: 10px;
    }
  
    .NavBarSVG {
      display: flex;
      max-width: 10vw;
      height: 10cqw;
      text-align: center;
      padding-bottom: 10%;
    }
  
    .PromotionalSVG {
      width: 25cqw;
      height: 25cqh;
      margin-bottom: 2%;
    }
  
    .MainCardContainer {
      display: flex;
      width: 90%;
      min-height: 20vh;
      justify-content: space-evenly;
      background-color: #2d3036;
      padding-bottom: 2%;
      margin-bottom: 5%;
    }
  
    .BigCardItemLeft {
      display: none;
    }
  
    .BigCardItemRight {
      display: flex;
      flex-direction: column;
      padding-right: 5;
      height: 100%;
      max-height: 45vh;
      min-width: 95cqw;
    }
  
    .BigCardItemCenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 2;
      max-height: 50vh;
      padding-right: 5;
      padding-top: 10%;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
    .ListItem {
      display: flex; 
      flex-direction: column;
      justify-content: flex-start;
      height: 25vh;
      width: 45cqw;
    }
  
    .SelectedTabOnSearchCard {
      display: flex ;
      height: 5vh;
      flex-grow: 2; 
      justify-content: center;
      font-size: 2vh;
      padding-top: 1%;
      background-color: #8c8a8a;
      border-radius: 12px;
      font-weight: 700;
  
    }
    
    
  }
  
  @media (max-width: 768px) {
    .App {
      background-color: #18171f;
      min-height: 100vh;
      min-width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      padding-top: 0.1vh;
    }
  
    .Text {
      font-size: 10px;
    }
  
    .NavBarSVG {
      display: flex;
      max-width: 10vw;
      height: 10cqw;
      text-align: center;
      padding-bottom: 10%;
    }
  
    .PromotionalSVG {
      width: 25cqw;
      height: 25cqh;
      margin-bottom: 2%;
    }
  
    .MainCardContainer {
      display: flex;
      width: 90%;
      min-height: 20vh;
      justify-content: space-evenly;
      background-color: #2d3036;
      padding-bottom: 2%;
      margin-bottom: 5%;
    }
  
    .BigCardItemLeft {
      display: none;
    }
  
    .BigCardItemRight {
      display: flex;
      flex-direction: column;
      padding-right: 5;
      height: 100%;
      max-height: 45vh;
      
    }
  
    .BigCardItemCenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 2;
      max-height: 50vh;
      padding-right: 5;
      padding-top: 10%;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
    .ListItem {
      display: flex; 
      flex-direction: column;
      justify-content: flex-start;
      height: 25vh;
      width: 45cqw;
    }
  
    .SelectedTabOnSearchCard {
      display: flex ;
      height: 5vh;
      flex-grow: 2; 
      justify-content: center;
      font-size: 2vh;
      padding-top: 3%;
      background-color: #8c8a8a;
      border-radius: 12px;
      font-weight: 700;
    }
  
  }
  
  